# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node
node_modules
*.log*

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Testing
coverage

# Misc
*.local
packages
pids
.file-manifest
.devcontainer/

# Spark
.spark-workbench-id
.spark-initial-sha
**/agent-eval-report*
